.nav__item {
  padding: 0 0.5rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.navbar-expand-lg .navbar-nav {
  padding-top: 1rem;
}

.navbar-default {
  background-color: #5cdb95;
  border-color: #E7E7E7;
}

.navbar {
  background-color: #5cdb95;
}
.navbar .navbar-brand {
  color: #05386b;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #edf5e1;
}
.navbar .navbar-text {
  color: #05386b;
}
.navbar .navbar-text a {
  color: #edf5e1;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #edf5e1;
}
.navbar .navbar-nav .nav-link {
  color: #05386b;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #edf5e1;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #edf5e1;
  background-color: #5cdb95;
}
.navbar .navbar-toggle {
  border-color: #5cdb95;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #5cdb95;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #05386b;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #05386b;
}
.navbar .navbar-link {
  color: #05386b;
}
.navbar .navbar-link:hover {
  color: #edf5e1;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #05386b;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #edf5e1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #edf5e1;
    background-color: #5cdb95;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #05386b;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #edf5e1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #edf5e1;
    background-color: #5cdb95;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #05386b;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #edf5e1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #edf5e1;
    background-color: #5cdb95;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #05386b;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #edf5e1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #edf5e1;
    background-color: #5cdb95;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #05386b;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #edf5e1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #edf5e1;
  background-color: #5cdb95;
}