.experience__container{
  height: 100%;
  width: 100%;
  padding-bottom: 8rem;
}

.experience-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin:auto;
}

.experience__card {
  flex: 0 0 50%;
}

.experience__title {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: #05386b;
}

.experience__title:hover {
  color: #edf5e1;
}

.description-title {
  font-size: 2rem;
  font-weight: bolder;
  padding-bottom: 1.5rem;
  color: #edf5e1;
  text-align: center;
}

.selected-experience__description {
  color: #05386b;
}

.selected-experience-image-wrapper {
  padding: 3rem 2rem;
}

.selected-experience__description {
  padding: 0 2.7rem 2rem;
}

@media only screen and (min-width: 1025px) {

  .experience__card {
    flex: 0 0 0;
  }

  .experience-list {
    padding-bottom: 4rem;
  }

  .selected-experience {
    display: flex;
    padding: 0 8rem;
  }

  .experience__title {
    padding-bottom: 0;
    width: 10rem;
    font-size: 1rem;
  }

  .description-title {
    text-align: left;
    font-size: 2.5rem;
  }

  .selected-experience-image-wrapper {
    flex: 1 1 60%;
    padding-right: 2rem;
  }

  .selected-experience__description {
    flex: 1 1 40%;
  }

  .description-bullet-points {
     padding-bottom: 1rem;
  }
}