.project-container {
  height: 100%;
  background: #edf5e1;
  color: #05386b;
  padding-bottom: 8rem;
}

.project__main-title {
  padding: 2rem 0 3rem 0;
  text-align: center;
}

.project__title {
  color: #05386b;
  text-align: center;
  padding-bottom: 1rem;
  font-weight: bolder;
  font-size: 2rem;
}

.project__description {
  padding: 0 2.7rem 2rem;
}

.project__image {
  max-width: 80%;
  margin: auto;
  padding: 0 0 3rem;
}

.project-image-wrapper {
  padding: 0 2rem;
}

.project-button__container {
  text-align: center;
  padding-bottom: 3rem;
}

.project-button__wrapper {
  padding: 0 1rem;
}

.project-button {
  background: #05386b;
  color: #edf5e1;
  font-weight: bold;
  border-radius: 5px;
}

.project-button:hover {
  background: #5cdb95;
  color: #05386b;
}


@media only screen and (min-width: 1025px) {
  .project__card {
    display: flex;
    padding: 0 10rem;
  }

  .project__card__wrapper {
    flex: 1 1 50rem;
  }

  .project__title {
    text-align: initial;
    padding-bottom: 1.5rem;
  }

  .project-image-wrapper {
    flex: 1 1 85rem;
  }

  .project__description {
    padding: 0 0 2rem 0;
  }

  .button__container {
    display: flex;
    justify-content: space-evenly;
  }

  button {
    width: 7rem;
  }
}